<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050635997419-vp2i9ij1450h4cp8j3fp7aei97dfqgs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050635997419-vp2i9ij1450h4cp8j3fp7aei97dfqgs1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1050635997419-373h5mpv3q2b8v5uakk8v6p6hkr2rmev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD7ZjrCaqnu3q-D7ILnVP8HIHq9CTB--Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1050635997419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lc.forward.app.redesign</string>
	<key>PROJECT_ID</key>
	<string>forward-android-app</string>
	<key>STORAGE_BUCKET</key>
	<string>forward-android-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050635997419:ios:d24913e131392e4ad56eae</string>
	<key>DATABASE_URL</key>
	<string>https://forward-android-app.firebaseio.com</string>
</dict>
</plist>